.amenityheader {
    background-image: url('../../assets/Images/frame-28.png');
    height: 100vh;
    background-size: cover;
    padding: 30px 20px;
    background-repeat: no-repeat;

    @media (min-width: 1000px) {
        padding: 30px 60px;
    }
}
