.homeheader {
    // background-image: url('../../assets/images/min1.jpg');
    height: 100vh;
    background-size: cover;
    padding: 30px 20px;


    @media (min-width: 1000px) {
        padding: 30px 60px;
    }
}
