.homeheader {
    // background-image: url('https://i.ibb.co/5KWM2fX/smilew.png');
    height: 100vh;
    background-size: cover;
    padding: 30px 20px;


    @media (min-width: 1000px) {
        padding: 30px 60px;
    }
}
