.investmentHeader {
    background-image: url('https://i.ibb.co/5KWM2fX/smilew.png');
    height: 70vh;
    background-size: cover;
    padding: 30px 20px;
    background-repeat: no-repeat;

    @media (min-width: 1000px) {
        padding: 30px 60px;
    }
}
