.investWhy{
display: flex;
flex-direction: column;
width: 100%t;
justify-content: center;
margin:0px 0px 0px  100px;
gap:20px;
}

.invest_text{
    text-align: center;
    margin: 100px 0px 40px 0px;
}

@media screen and (max-width: 680px) {

    .investWhy{
        margin:0px 0px 40px  0px;
        gap:0px ;
        width: fit-content;
        }

}
