.image-style{

width: 3955px;
}
.local_left{
    left: 450px;
}



@media screen and (min-width:320px) and (max-width:640px) {
    .container{
        display: flex;
        width: fit-content;
        flex-direction: row;
    }
    .image-style{
        padding: auto;
        width: 100%;

    }
    .local_left{
        left: 381px;
    }
}
