.contain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

input {
    width: 512px;
    height: 56px;
    background-color: #EFEFEF;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid #04B256;
}

.btn-search {
    width: 164px;
    height: 56px;
    background-color: #04B256;
    Padding: 16px, 53px, 16px, 53px;
    border-radius: 8px;
    color: #EFEFEF;
}

@media screen and (max-width: 680px) {
    .container {
        padding: 50px;
    }
    input {
        width: 312px;
     }
}
